.holder{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%
}

#input{
    width: 70%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(196, 196, 196);
  
}
.chn{
    display: none;
}
.save{
    display: inline;
}
.rt{
   
    border-radius: 4px;
    padding: 10px 25px;
    background-color: skyblue;
    width: fit-content;
    cursor: pointer;
}

.list{
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list:nth-child(even){
    background-color: rgb(180, 180, 180);
    border-radius: 3px;
    padding: 5px;
}

.listHolder{
    margin-right: 15%;
}

.del{
    color: white;
    background-color: rgb(150, 0, 0);
    border-radius: 4px;
    padding: 10px 25px;
    cursor: pointer;
}

.edit{
    color: white;
    background-color: rgb(1, 137, 87);
    border-radius: 4px;
    padding: 10px 25px;
    cursor: pointer;
}


.message{
    position: absolute;
    bottom: 0%;
    right: 0%;

   
padding: 10px 15px ;
margin-right: 5%;
border-radius: 5px;
opacity: 0;


}

.gen{

    animation: blur 4s ease-in-out 1s;
}

.lib{
    background-color:lightblue;
}
.red{
    background-color: rgb(188, 47, 45);
    color: white;
}

.green{
    color: white;
    background-color: rgb(5, 153, 81);
}

@keyframes blur{
from{
opacity: 0;
}
to{
opacity: 1;
}
}